<% provide(:title, "Edit user") %>
<% provide(:button_text, 'Save change') %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <span class="picture">
      <label>Avatar</label>
      <%= file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </span>
    <%= render 'form' %>
  </div>
</div>