<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class = "center-paginate">
	<%= will_paginate %>
</div>

<ul class="users custom">
  <%= render @users %>
</ul>

<div class = "center-paginate">
	<%= will_paginate %>
</div>